<% provide(:title, 'Compose') %>
<h1>Compose</h1>
<%= form_for @message, :url => {:controller=>"messages", :action => "create"} do |f| %>
    <div class="field">
        <!-- f.collection_select(:touser_id, current_user.followed_users.all, :id, :name, :prompt => true) -->
        <%= f.autocomplete_field :user_name, autocomplete_user_name_messages_path %>
        <%= f.text_area :content, placeholder: "Write." %>
    </div>

    <%= f.submit "Send", class: "btn btn-large btn-primary" %>

<% end %>
