<p>Hey <%= @user.name %>, you forgot your password.</p>
<p>Please click the link below to reset your password:</p>
<%= edit_password_reset_url(@user.remember_token) %>
<p>Ignore this email if you didn't want it reset.</p>

