<% provide(:title, 'All users') %>
<div class="search">
    <%= render 'search' %>
</div>

<h1><%= link_to "All users", :sort => "allusers" %></h1>

<ul class="users">
    <%= render @users %>
</ul>

