<% provide(:title, 'Sign up!') %>
<div class="center hero-unit">
    <%= link_to image_tag("title.png", alt: "Similify"), %>

    <p><%= link_to "join us", signup_path, class: "btn btn-large btn-primary" %></p>
</div>


