@import "bootstrap";

@mixin box_sizing {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

body {
    padding-top: 80px;
    background-color: rgb(255, 240, 216);
    color: rgb(106, 106, 89); 
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(141, 112, 112);
    font-family: 'Enriqueta', serif;
}    

.navbar .nav > li > a {
    color: rgb(141, 112, 112);
    text-shadow: 0 0 0;
    &:hover {
            color: rgb(203, 171, 171);
    }
}

aside section span {
    color: rgb(203, 171, 171);
}

a {
    color: rgb(141, 112, 112);
    &:hover {
        color:rgb(203, 171, 171);
    }
}

.navbar-inner {
    background-color: rgb(255, 240, 216);
    background-image: linear-gradient(bottom, rgb(255, 240, 216), rgb(255, 213, 192));
    background-image: -webkit-linear-gradient(bottom, rgb(255, 240, 216), rgb(255, 213, 192));
    background-image: -moz-linear-gradient(bottom, rgb(255, 240, 216), rgb(255, 213, 192));
    box-shadow: 0 0px 0px;
    -webkit-box-shadow: 0 0px 0px;
    -moz-box-shadow: 0 0px 0px;
    font-family: 'Enriqueta', serif;
    font-size: 10pt;
}

section {
    overflow: auto;
}

.center {
    text-align: center;
    h1 {
     margin-bottom: 10px;
    }
}

.hero-unit {
    background-color: rgb(255, 240, 216);
}

.btn-primary {
    background-color: rgb(200, 200, 237);
    background-image: -webkit-linear-gradient(top, rgb(200, 200, 237), rgb(189, 189, 224));
    background-image: -moz-linear-gradient(top, rgb(200, 200, 237), rgb(189, 189, 224));
    background-image: linear-gradient(top, rgb(200, 200, 237), rgb(189, 189, 224));
    border-color: rgb(200, 200, 237) rgb(200, 200, 237) rgb(173, 173, 204);
    color: rgb(255, 240, 216);
    font-family: 'Enriqueta', serif;
    font-size: 12pt;
}

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disable, .btn-primary[disabled] {
    background-color: rgb(200, 200, 237);
    color: rgb(255, 240, 216);
}

.stats {
    overflow: auto;
    a {
        float: left;
        padding: 0 10px;
        border-left: 1px dotted rgb(255, 213, 192);
        color: rgb(203, 171, 171);
        &:first-child {
          padding-left: 0;
          border: 0;
        }
        &:hover {
          text-decoration: none;
          color: rgb(141, 112, 112);
        }
    }
    strong {
        display: block;
    }
}

.user_avatars {
    overflow: auto;
    margin_top: 10px;
    .gravatar {
        margin: 1px 1px;
    }
}

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: none;
    color: rgb(231, 177, 175);
    font-family: Enriqueta, serif;
    font-size: 10pt;
   a {
        color: rgb(141, 112, 112);
        &:hover {
            color: rgb(203, 171, 171);
        }
    }
    small {
        float: left;
    }
    ul {
        float: right;
        list-style: none;
        li {
            float: left;
            margin-left: 10px;
        }
    }
}

aside {
  section {
    padding: 10px 0;
    border-top: 1px dotted rgb(203, 171, 171);
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
   }
 }
}

/* forms */

input, textarea, select, .uneditable-input {
    border: 1px dotted rgb(203, 171, 171);
    width: 100%;
    padding: 10px;
    height: auto;
    margin-bottom: 15px;
    @include box_sizing;
}

input, button, select, textarea {
    color: rgb(141, 112, 112);
    background-color: rgb(255, 246, 237);
}

label {
    color: rgb(141, 112, 112);
    font-family: 'Enriqueta', serif;
}

.searchbox {
    width: 400px;
    opacity: 0.4;
}

.searchbox:focus {
    opacity: 0.9;
}

.searchbox:active {
    opacity: 0.9;
}

.searchbut {
    width: 200px;
    opacity: 0.4;
}

.searchbut:focus{
    opacity: 0.9;
}

.searchbut:hover{
    opacity: 0.9;
}

.searchbut:active{
    opacity: 0.9;
}

.search {
    float: right;
    width: 500px;
}

#error_explanation {
    color: #f00;
    ul {
        list-style: none;
        margin: 0 0 18px 0;
    }
}

.field_with_errors {
    @extend .control-group;
    @extend .error;
}

::-webkit-input-placeholder {
    font-style: italic;
    font-size: 18px;
    font-family: 'Enriqueta', serif;
    color: rgb(203, 171, 171);
}

input:-moz-placeholder {
    font-style: italic;
    font-size: 18px;
    font-family: 'Enriqueta', serif;
    color: rgb(203, 171, 171);
}

/* users index */

.users {
    list-style: none;
    margin: 0;
    li {
        overflow: auto;
        padding: 10px 0;
        border-top: 1px dotted rgb(203, 171, 171);
        &:last-child {
          border-bottom: 1px dotted rgb(203, 171, 171);
        }
    }
}

/* microposts */

.microposts {
    list-style: none;
    margin: 10px 0 0 0;

    li {
        padding: 10px 0;
        border-top: 1px dotted rgb(203, 171, 171);
    }
}

.content {
    display: block;
}

.timestamp {
    color: rgb(203, 171, 171);
}

aside {
    textarea {
        height: 100px;
        margin-bottom: 5px;
    }
}

/* misc */

.gravatar {
    float: left;
    margin-right: 10px;
}

.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing;
}
